<div class="container" id="project">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Discussing about Bibliometrix Analysis</h2>
                </div>

               <p class="lead">
                  The Ph.D. Day in Management is the perfect opportunity to learn, discuss doubts and share experiences related to your research. This online event will count with academic experts on the field and aims to join a pool of Ph.D. candidates.
                </p> 

                 <p class="lead"> 
                  The PhD Day in Management will be on-line through the Zoom Platform. The registration is open and free for all Ph.D. students in the research field of management and related fields.
                </p>
                
                 <p class="lead" style="text-align: center"> 
                  <strong>MAXIMUM 50 ATTENDACES </strong>
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Sharing your Advances</h2>
                </div>

               <p class="lead">
                  Participants will have the opportunity to present their research work in front of four experts in the field; however, the dynamic of the presentation will be innovative. Each participant will have 5 minutes to present their research work. In the end, the participant may ask two questions to the expert panel (e.g., about his or her methodological proposal, or the relevance of their hypotheses). Two members of the expert panel will answer them. Besides, all participants will receive a written report (on July 30) with an assessment of their presentation. The report will be developed based on the four experts' opinions, and will also include the views of the rest of the people who attended their presentation.
                </p> 
                  
                <p class="lead">               
                  We hope that this approach will help Ph.D. students to receive feedback tailored to their expectations, to resolve their particular doubts, and to receive an assessment of their work without the stress of receiving it live.
                </p> 

                 <p class="lead" style="text-align: center"> 
                  <strong>MAXIMUM 10 PRESENTATIONS </strong>
                </p>
                
                
            </div>
        </div>
    </div>
   
    <!-- /.row -->
</div>







